*{
    padding: 0;
    margin: 0;
}

header{
    padding: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

#imgH, #imgM {
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav{
    margin-top: 10px;
    text-align: center;
}

#contenido{
    margin-top: 20px;
}

#seccInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccResultado{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagenes{
    display: flex;
    align-items: center;
    text-align: center;
}

